@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<h2> Imóveis em Destaque</h2>
<div class="container">
    <div class="row">
        @foreach(var imovel in Model.ImoveisEmDestaque)
        {
            @Html.Partial("_ImoveisResumo",imovel)
        }
    </div>
</div>