<br />
<br />
<div class="container">
    <br />
    <img src="~/images/falar.png" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>FALE COM NOSSA EQUIPE !</h2>
        <p>
            Se você tiver qualquer dúvida ou sugestão entre em contato.
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <email endereco="luigi-x1@hotmail.com" conteudo="Enviar um e-mail"></email>
            <br />
            <span class="glyphicon glyphicon-phone"></span>
            (11) 99688-4837
            <br />
            <span class="glyphicon glyphicon-home"></span>
            Av. Terceiro Centenário 3250 - 12940-160 - Atibaia-SP
        </p>
    </div>
</div>




